/*polices*/
@font-face {
    font-family: "Raleway";
    src: url("polices/Raleway-Medium.ttf");
  }
  @font-face{
    font-family:"Raleway-bold";
    src: url("police/Raleway-Bold.ttf");
  }
  * {
    font-family: "Raleway";
  }
  a{
    color:inherit;
    text-decoration: none;
  }
  .title{
    font-size: 10px;
    }
  p{
      font-size: 15px;
    }
  
  /*body*/
  body{
    margin: 10px;
  }
  
  /*header*/
  header{
    display: flex;
    justify-content: space-between;
  }
  
  /*logo*/
  .logo{
    width: 100px;
    margin-left: 0px;
    
  }
  
  /*nav*/
  nav {
    display: flex;
    font-size: 15px;
    margin-top: 0px;
  }
  #nav_link{
    list-style-type: none;
    display: flex;
    text-decoration: none;
  
  }
  .hebergement_link,
  .activity_link{
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
#hebergement:hover,
#activities:hover,
.hebergement_link:hover,
.activity_link:hover {
  color: #0065fc;
  border-top: solid 1px #0065fc;
}
.register_link{
  text-decoration: none;
  color: #0065fc;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

  /*search bar*/
  .search_bar {
    display: flex;
    height: 45px;
    border: solid 1px #f2f2f2;
    border-radius: 15px;
    width: max-content;
  }
  
  .city_textfield {
    border: none;
    padding-left: 10px;
    font-size: 1em;
  }
  
  .city_textfield::placeholder {
    font-weight: bold;
    color: #000;
  }
  
  .location_button {
    width: 45px;
    border: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: solid 2px #f2f2f2;
    background-color: #f2f2f2;
    color: black;
    height: inherit;
  }
  
  .search_button {
    width: 115px;
    background-color: #0065fc;
    border-radius: 12px;
    border: none;
    font-size: 15;
    color: #f2f2f2;
    background-color: #0065fc;
    background-size: 18px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  button {
    border-radius: 30px;
    height: 42px;
    width: 42px;
    background: #deebff;
    border: 1px solid #deebff;
    color: #0065fc;
    outline: none;
    margin: 0;
    align-self: flex-end;
  }
  
  /*filtres*/
  .filters{
    display: flex;
  }
  .filters_list button:hover {
    color: #848484;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
  }
  
  .eco,
  .family,
  .animals,
  .romantic {
    border: solid 2px #f2f2f2;
    border-radius: 30px;
    width: max-content;
    padding-right: 20px;
    border-left: none;
    margin-right: 15px;
    margin-top: 10px;
  }
  
  .filters_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .filters p {
    margin-bottom: 0;
    margin-right: 20px;
    font-weight: bold;
    align-self: center;
  }

  /*city_info*/
  .city_info{
    display: flex;
    align-items: center;
    padding: auto;
}
  .fa-info{
  display: flex;
  color: #0065fc;
  margin-right: 10px;
  padding: 6px;
  padding-left: 11px;
  padding-right: 11px;
  border: 1px solid #c9bfbf;
  border-radius: 20px;
  justify-content: flex-start;
  margin-right: 10px;
  
}

/*hebergements*/
.hebergement_list{
  justify-content: center;
    margin-left: auto;
    margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 10px;
  
}
.hebergement_info{
  display: flex;
  size: 100px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
  padding:5px;
  width: max-content;
}
.room_image {
  width: 200px;
  height: 100px;
  border-radius: 20px;