/*polices*/
@font-face {
    font-family: "Raleway";
    src: url("polices/Raleway-Medium.ttf");
  }
  
  @font-face{
    font-family:"Raleway-bold";
    src: url("police/Raleway-Bold.ttf");
  }
  
  * {
    font-family: "Raleway";
  }
  
  a{
    color:inherit;
    text-decoration: none;
  }
  
  .title{
    font-size: 16px;
  }
  
  p{
      font-size: 16px;
  }
  

  img {
      object-fit: cover;
      overflow: hidden;
  } 
    
  li{
    list-style: none;
  }
  
  /*body & section*/
  body{
  margin: 0px;
  padding: 0px;
  }

  section{
    display: block;
    margin: auto;
  }
  
  
  /*header*/
  header{
    display: flex;
    justify-content: space-between;
  }
  
  /*logo*/
  .logo{
    width: 120px;
    margin-left: 20px;
    margin-top: 10px;
  } 
  
  /*nav*/
  .nav_link_phone{
    display: none;
  }
  
  nav {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 40px;
  }
  
  .nav_ancre{
    display: flex;
  }
  
  #nav_link,
  #nav_link_2{
    list-style-type: none;
    display: flex;
    text-decoration: none;
   }
  
  .hebergement_link,
  .activity_link{
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.hebergement_link:hover,
.activity_link:hover {
  color: #0065fc;
  border-top: 1px solid #0065fc;
}

.register_link{
  text-decoration: none;
  color: #0065fc;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

  /*search bar*/
  .search_bar {
    display: flex;
    height: 45px;
    border: solid 1px #f2f2f2;
    border-radius: 15px;
    width: max-content;
  }
  
  .city_textfield {
    border: none;
    padding-left: 10px;
    font-size: 1em;
  }
  
  .city_textfield::placeholder {
    font-weight: bold;
    color: #000;
  }
  
  .location_button {
    width: 45px;
    border: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: solid 2px #f2f2f2;
    background-color: #f2f2f2;
    color: black;
    height: inherit;
  }
  
  .search_button {
    width: 115px;
    border: none;
    font-size: 15px;
    color: #f2f2f2;
    background-color: #0065fc;
    background-size: 18px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor:pointer;
  }
  
  .search_button>i{
    display: none;
  }
  
  .recherche{
    font-size: 17px;
  }
  
  button {
    border-radius: 30px;
    height: 42px;
    width: 42px;
    background: #DEEBFF;
    border: 1px solid #f2f2f2;
    color: #0065fc;
    outline: none;
    margin: 0;
    align-self: flex-end;
    cursor:pointer;
  }
  
  /*filtres*/
  .filters{
    display: flex;
  }
  
  .filters_list button:hover {
    color: #cfcfcf;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
  }
  
  .eco,
  .family,
  .animals,
  .romantic {
    border: solid 2px #f2f2f2;
    border-radius: 30px;
    width: max-content;
    padding-right: 20px;
    border-left: none;
    margin-right: 15px;
    margin-top: 10px;
  }
  
  .filters_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .filters p {
    margin-bottom: 0;
    margin-right: 20px;
    font-weight: bold;
    align-self: center;
  }

  /*city_info*/
  .city_info{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
  .fa-info{
  display: flex;
  color: #0065fc;
  margin-right: 10px;
  padding: 6px;
  padding-left: 11px;
  padding-right: 11px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  justify-content: flex-start;
  margin-right: 10px;
  
}

.title,.city,.city_info{
margin-left: 40px;
}

/*hebergements*/
.hebergement{
  display: flex;
  width: 100%;
}


.hebergement_list{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: auto;
  max-width: 60%;
  
}

.hebergement_list h2{
  font-size: 25px;
  display: flex;
  width: 100%;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 40px;

}

.hebergement_list h5{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-left: 40px;
  font-size: 17px;

}

.hebergement_info{
  display: flex;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #e0e0e0;
  margin: 5px;
  padding:5px;
  width: max-content;
  height: max-content;
  margin-top: 20px;
}

.room_image {
  width: 300px;
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergement a{
  height: min-content;
}
/*stars*/
.blue_star {
  color: #0065fc;
}

.grey_star {
  color: #cfcfcf;
}

/*most popular*/
.most_popular{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: auto;  
  min-height: 755px;
  width: 30%;
}

.most_popular_list{
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
width: 90%;
height:25%;

}

.most_popular_box{
justify-content: center;
margin: 0 auto;
width:95%;
}

.most_popular_title{
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.fa-chart-line{
  font-size: 25px;
}

.popular_room_image {
  width: 150px;
  height: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.most_popular_info{
  display: flex;
  justify-content:center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border:1px solid white;
  width: 250px;
  margin-left: 10px;
 
}

.most_popular a{
  display: flex;
  border: 5px solid white;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #e0e0e0;
  border-radius: 20px; 
  margin: 10px;
  width:100%;
}

.most_popular h2{
  font-size: 25px; 
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Activity*/

.activity {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  padding: 0px;
  margin: auto;
  margin-top: 50px;
  width:95%;
  margin: 0 auto;
}

.activity_image_S{
  width: 100%;
  height: 190px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }
  .activity_image_M{
    width: 100%;
    height: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .activity_image_L{
    width: 100%;
    height: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .activity_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 600px;
    justify-content: space-around;
  }
  
  .activity_box{
    text-decoration: none;
    color: black;
    border-radius: 25px;
    margin-bottom: 25px;
    height: fit-content;
    width: 22%;
    box-shadow: 5px 5px 5px 5px #e0e0e0
  }
  .activity h2 {
    font-size: 25px;
  }
  .activity h3 {
    font-size: 1em;
    margin-left: 20px;
  }
  
/* Footer */

footer h2 {
  font-size: 15px;
  font-family: "Raleway-Bold";
  padding-left: 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  padding: 20px;
  padding-left: 40px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer li {
  list-style-type: none;
  margin-bottom: 15px;
}

.footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 250px;
}

@media screen and (max-width: 950px) {
/* nav */
#nav_link{
  flex-direction: column;
  display: none;
}

.nav_link_phone{
  display: block;
  text-align: center;
  align-items: center;
}

.nav_ancre_phone>ul{
  display: flex;
  margin:0 auto;
  width:100%;
  justify-content: space-around;
  text-decoration: none;
}

.register_link{
  order:1;
}

.hebergement_phone,
.activities_phone{
  text-decoration: none;
}

.hebergement_link,
.activity_link{
  border-bottom:1px solid #f2f2f2 ;
  color: black;
  border-top: none;
}

.hebergement_link:hover,
.activity_link:hover {
  border-bottom: 1px solid #0065fc;
  color: #0065fc;
  border-top:none;
}

/*search button*/
.search_button{
  width: 50px;
  background-color: #0065fc;
  font-size: 15px;
}

.search_button>i{
  display: block;
}

.recherche{
  display: none;
}

/* filter */
input.search_button{
  width:45px;
  
}

.filters{
  flex-direction: column;
}
 
.filters>p{
  align-self: auto;
}

/* herbergement */
.hebergement{
  display: flex;
  flex-direction: column;
  margin:0;
  
  
 
}

.hebergement_list{
  display: block;
  width: 100%;
  order:2;
  margin:0 auto;
  background-color: white;
  max-width: none;
}

.hebergement_info{
  width:90%;
  margin: 0 auto ;
  margin-top: 20px;
  max-width: none;
}

.room_image{
  width:100%;
}

/* most popular */
.most_popular{
display: block;
width:100%;
align-items: center;
order:1;
}

.most_popular_list{
padding-left: 0%;
margin:0 auto;
}

/* activity */
.activity{
  margin-left:0;
  margin:0 auto;
}

.activity_list{
  display: block;
  margin:0 auto;
  margin-left: 10%;
  flex-wrap: wrap;
  max-height: none;
  margin-left:0;
}

.activity_image_L,
.activity_image_M,
.activity_image_S{
  width:100%;
  height: 200px;
  align-items: center;
  margin:0 auto;
}

.activity_box{
  margin:0 auto;
  width:90%;
}

.activity>h2{
  margin-left: 10%;
}

/* footer */
.footer{
  display: block;
  margin-left: 0;
  align-items: center;
  padding: 0;
  width:max-content

  
}
}